<h1>Burgers!</h1>
<ul class="burger_list">
  {{#each burger}}
    <li>{{this.burger_name}}</li>
  {{/each}}
</ul>
<form action="/" method="POST">
    <input type="text" name="burger_name">
    <button type="submit">Add another burger!</button>
</form>